.todo-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 2vh;
  width: fit-content;
}

.todo-list__add-todo {
  width: fit-content;
}

.add-todo__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1rem;
  padding-right: 1.5rem;
  justify-content: center;
}

.add-todo__form__input {
  min-width: 50vw;
  padding: 5px;
  margin-left: 2rem;
}

.submit-section__submit {
  margin-left: 5px;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 5px;
}

@media only screen and (max-width: 312) {
}
